.del{
    background: #FF5252;
    color: #fff;
    border: none;
    padding: 5px 8px;
    border-radius: 50%;
    cursor: pointer;
    float: right;
}

.todo{
    background: #FFECB3;
    padding: 10px;
    color: #212121;
    border-bottom: 0.5px solid #BDBDBD;
}

.is-completed{
    text-decoration: line-through;
}